@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*
{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-family: 'Open Sans', sans-serif;

    font-size: 20px;
    background-color: #236aef;
}
.container
{
    height:570px;
    width:450px;
    /* border:2px solid black; */
    border-radius: 20px;
    box-shadow: 3px 0px 9px -1px rgb(214, 211, 214);
    background-color: #ffffff;
    border:1px solid beige;
    margin:auto;
}
.login
{
    background-color: rgb(24,89,224);
    color:rgb(254, 254, 223);
    height:200px;
    width:450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo
{
    font-size: 35px;
}
.inputbox
{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self:flex-start;
    align-items:center;
    height:150px;
    /* border: 2px solid black; */
    margin-top: 20px;
    padding-top: 2px;
}
#uname
{
    height:45px;
    width:350px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #c9d7cd;
    border:none;
    font-size: 14px;
    padding:5px;
    /* font-family: 'Playpen Sans', cursive; */
    
}
#pwd
{
    height:45px;
    width:350px;
    border-radius: 15px;
    border:none;
    font-size: 14px;
    background-color: #c9d7cd;
    
    padding:5px;
    /* background-color: #a8b5ac; */
    /* font-family: 'Playpen Sans', cursive; */
}
.forgot
{
    /* border:2px solid red; */
    display:flex;
    flex-direction: row-reverse;
    color:green;
    margin-top: 2px;
    font-size: 14px;
    margin-right:15px;
}
.button
{
    margin-top: 33px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    

}
#btn
{
    
    height:45px;
    width:350px;
    border-radius: 15px;
    border:none;
    background-color: rgb(24,89,224);
    /* font-family: 'Playpen Sans', cursive; */
    color:beige;
    transition:0.6s;
    font-size: 18px;
}
.dont
{
    display: flex;
    /* border: 2px solid teal; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 15px;
    color: rgb(44, 64, 108);
}

#sg
{
    color: rgb(24,89,224);
    font-size: 15px;
}


#btn:hover
{
    background-color: rgb(187, 196, 234);
    color: rgb(7, 7, 7);
    cursor: pointer;

}
@media all and (max-width:600px) {
 .container{
    height:600px;
    width:95vw;
    margin:auto;
margin-top:-100px;
 } 
 .login
 {
    width:93vw;
 margin:auto;
 margin-top:5px;
 height:150px;
 }  
 #uname
 {
    width:92vw;
 }
 #pwd
 {
    width:92vw;
 }
 #btn
 {
    width:92vw;
 }
}
